{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  // "presets": ["stage-2", "@babel/preset-env", "@babel/preset-react"]
  "plugins": ["transform-class-properties"]
  // "plugins": [
  //   "@babel/plugin-transform-runtime",
  //   "@babel/proposal-class-properties",
  //   "@babel/proposal-object-rest-spread"
  // ]
}
